@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import './styles/react-datepicker.css';

::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-primary-800 rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-600 rounded-full hover:bg-primary-700;
}

::-webkit-file-upload-button {
  @apply hidden;
}

html {
  @apply bg-gray-900 text-gray-50;
}

@screen 4k {
  html {
    font-size: 30px;
  }
}

@screen 2k {
  html {
    font-size: 20px;
  }
}

@screen 1k {
  html {
    font-size: 15px;
  }
}

@screen 2xl {
  html {
    font-size: 13px;
  }
}

@screen xl {
  html {
    font-size: 12px;
  }
}

@screen lg {
  html {
    font-size: 12px;
  }
}

@screen md {
  html {
    font-size: 12px;
  }
}

@screen sm {
  html {
    font-size: 12px;
  }
}
