@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-primary-800 rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-600 rounded-full hover:bg-primary-700;
}

html {
  @apply bg-gray-50 text-gray-900;
}

html[class='dark'] {
  @apply bg-gray-900 text-gray-50;
}

@screen 1k {
  html {
    font-size: 15px;
  }
}

@screen 2xl {
  html {
    font-size: 13px;
  }
}

@screen xl {
  html {
    font-size: 13px;
  }
}

@screen lg {
  html {
    font-size: 12px;
  }
}

@screen md {
  html {
    font-size: 12px;
  }
}

@screen sm {
  html {
    font-size: 12px;
  }
}
