@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

html {
}

html[data-theme='dark'] {
}

@screen sm {
  html {
    font-size: 12px;
  }
}

@screen md {
  html {
    font-size: 12px;
  }
}

@screen lg {
  html {
    font-size: 12px;
  }
}

@screen xl {
  html {
    font-size: 13px;
  }
}

@screen 2xl {
  html {
    font-size: 15px;
  }
}
